.Button{

    background-color: green;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    font-weight: 900;

}

.Button:hover{
    color: grey;
}

.clicked{
    box-shadow: 15px 15px 25px grey;
    border: 1px solid black !important;
    color:black !important;
}